# ==========================
# Go
# ==========================
backend/*.exe
backend/*.out
backend/backend

# ==========================
# Node.js
# ==========================
frontend/node_modules/
frontend/.next/

# ==========================
# Python
# ==========================
recomendation-service/venv/
recomendation-service/__pycache__/
recomendation-service/*.pyc

# ==========================
# Environment
# ==========================
backend/.env
frontend/.env.local
recomendation-service/.env

# ==========================
# OS
# ==========================
.DS_Store
Thumbs.db

# ==========================
# IDE
# ==========================
.vscode/
.idea/